<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>echo</servlet-name>
		<servlet-class>org.yarlithub.yschool.EchoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>echo</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>helloWorldServlet</servlet-name>
		<servlet-class>org.yarlithub.yschool.HelloWorldServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>helloWorldServlet</servlet-name>
		<url-pattern>/hiServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addStudent</servlet-name>
		<servlet-class>org.ymini.controller.AddStudentController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addStudent</servlet-name>
		<url-pattern>/addStudent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>studentDetails</servlet-name>
		<servlet-class>org.ymini.controller.StudentDetailsController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studentDetails</servlet-name>
		<url-pattern>/studentDetails</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>nameFilter</filter-name>
		<filter-class>
			org.ymini.filters.NameFilter
    </filter-class>
		<init-param>
			<param-name>name-parameter</param-name>
			<param-value>Name filter for Added new students.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>nameFilter</filter-name>
		<url-pattern>/addStudent</url-pattern>
	</filter-mapping>
</web-app>